@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');

body{
    background-color: #ffcc00;
    margin: 0;
    background-image: linear-gradient(to bottom right, red, yellow);
    height:50vh;
}

/*home page*/
.button{
    height: 140px;
    width: 140px;
    border: 6px solid red;
    background-color: rgb(255, 196, 0);
    font-size: 150%;
    
}
.button:hover {
    background-color:#FF0000;
}

.title{
    font-family:'Trebuchet MS';
    font-size: 300%;
}

.subheading {
    font-family:'Trebuchet MS';
    font-size: 200%;
    position:relative;
    top:100px;
}

.rule{
    font-family:'Trebuchet MS';
    position: relative;
    top: 500px;
}

/*game page*/

/*Main heading*/

.title-game{
    font-family:'Trebuchet MS';
    position:relative;
    bottom:190px;
    
}

/*game Text*/
#score {
    font-family: Arial;
    font-size: 150%;
    position:relative;
    top:660px;
    left:300px;
}

.score-text{
    font-family: Arial;
    font-size: 150%;
    position:relative;
    top:595px;
    left:290px;
}

#moves-count{
    font-family: Arial;
    position:relative;
    top:585px;
    left:400px;
    font-size: 150%;
}

.moves-text{
    font-family: Arial;
    position:relative;
    top:525px;
    left:400px;
    font-size: 150%;
}

.refresh-text{
   position:relative;
   bottom:190px;
 
}


/*buttons*/

#home-button {
    position: relative;
    top: 495px;
    left:640px; 
    border:solid 5px rgb(233, 21, 14);
    height: 60px;
    width: 300px;
}

#home-button:hover{
    background-color:#2980b9;
}

/*Card Section*/

.card{
    height: 120px;
    width: 120px;
    border: 3px solid #ffff00;
   transform-origin: center right;
}

.card img {
   opacity:0 ;
   
}

.card img.flipped {
    opacity: 1;
}



.card-face {
    height: 120px;
    width: 120px ;
    background-color: rgb(233, 21, 14); 
}



#game-container{
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
    grid-gap: 10px;
    row-gap: 10px;
    grid-gap: 1em;
    position:relative;
    bottom:-140px;
    
}